<div class="container">
  <footer class="footer">
    <small>
    <ul>
      <li><a href="#">About</a>
      <li><a href="https://twitter.com/gabriel_rofl">Twitter</a></li>
      <li><a href="https://github.com/GabrielBessa">Github</a></li>
      <li><a href="https://www.linkedin.com/in/gabriel-bessa-264342174/">Linkedin</a></li>
      <li><a href="https://www.instagram.com/gabriel_rofl/">Instagram</a></li>
    </ul>
    </small>
  </footer>
</div>